@import '../../styles/definitions.sass'

.root
  fill: $white-key-color
  fill-opacity: 0.5
  stroke: black
  cursor: pointer


  &.highlighted
    fill: $white-key-color-highlighted

.velocitySensitivePart
  fill: $white-key-velocity-sensitive-part-color
  stroke-opacity: 0.0
  cursor: pointer


